.mainInsightContainer {
  position: relative;
  width: 90%;
  height: 380px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}
.mainInsightContainer .innerInsightContainer {
  background-color: #546885;
  opacity: 0.2;
  width: 40%;
  height: 100%;
}
.mainInsightContainer .image {
  width: 40%;
  height: 90%;
  position: absolute;
  bottom: 0px;
  left: 50px;
}
.mainInsightContainer .textContainer {
  margin-left: 40%;
  margin-right: 10%;
  justify-content: center;
  align-items: left;
  display: flex;
  flex-direction: column;
}
.mainInsightContainer .textValue {
  font-size: 25px;
  font-weight: bold;
}
.mainInsightContainer .textDesc {
  font-size: 20px;
}
.mainInsightContainer .download {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .mainInsightContainer {
    display: block;
    height: 700px;
  }
  .mainInsightContainer .textContainer {
    margin-left: 5%;
  }
  .mainInsightContainer .innerInsightContainer {
    height: 50%;
    width: 70%;
  }
  .mainInsightContainer .image {
    height: 45%;
    width: 80%;
    top: 0;
    margin-top: 30px;
    margin-left: 10px;
  }
}
